

html, body {
    height: 100%; /* Make sure these elements take full height */
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}


.container {
  max-width: 1200px; 
  margin: 0 auto;   
  padding: 0;
}

.backgroundFrame {
  width: 90vw;
  height: 90vh;
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  overflow: hidden;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.58);
}

@media (max-width: 768px) {
  .backgroundFrame {
    width: 95vw;
    height: 95vh;
    overflow: scroll;
  }

}
.backgroundFrame .container {
  height: 100%;
}