.aboutme {
    font-weight: 500;
    font-size: larger;
    min-height: 100%;
    overflow: hidden;
}

.aboutme h1 {
    margin-bottom: 2rem;
    color: var(--secondary-color);
}

.aboutme p {
    color: var(--primary-color);
}       

.aboutme p {
    font-size: medium;
    padding: 3rem;
}

@media (min-width: 1600px) {
    .aboutme .container {
    margin-left: 0;
    padding-right: 0;
    padding-top: 0;
    }


}

@media (max-width: 768px) {
    .aboutme p {
        font-size: medium;
        padding: 1rem;
    }
}