.contact .container {
    align-items: baseline;
}

.contact .container ul li {
    list-style: none;
    font-size: 2rem;
    margin-bottom: 50px;
}

.contact .container {
    margin-top: 50px;
}
 
.contact .container ul li a {
    font-weight: 700;
    display: block;
}