.mainGreetContainer {
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 12px;
  position: relative;
  z-index: 1;
}

.mainGreetContainer * p {
  z-index: 1;
}

.greetContainer p:first-child {
  margin: 0px;
  position: relative;
  right: 15vw;
}
.greetContainer p:nth-child(2) {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0px;
  margin-top: -10px;
  margin-bottom: -10px;
  position: relative;
  right: 10vw;
}

.nameContainer p:first-child {
  position: relative;
  left: 2vw;
}

.nameContainer p:nth-child(2) {
  position: relative;
  left: 16vw;
}

.softwareEngineerContainer {
  font-weight: 200;
  font-size: 15px;
  letter-spacing: 10px;
}

@media screen and (max-width: 768px) {
  .mainGreetContainer {
    font-size: 40px;
    letter-spacing: 8px;
  }

  .greetContainer p:first-child {
    right: 10vw;
  }

  .greetContainer p:nth-child(2) {
    font-size: 20px;
    right: 5vw;
  }

  .nameContainer p:first-child {
    left: 0vw;
  }

  .nameContainer p:nth-child(2) {
    left: 10vw;
  }

  .softwareEngineerContainer {
    font-size: 10px;
    letter-spacing: 5px;
  }
}