.skills .container .row .skill {
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.4s;
}

.skills .container .row .skill:hover {
    transform: scale(1.05);
}

.skills .container .row .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;    
    overflow: hidden;         
    text-overflow: ellipsis;  
}