.subMenu ul li {
    list-style: none;
    font-size: 20px;
}

.subMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
}

.subMenu ul {
    position: absolute;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.subMenu ul li a {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .subMenu ul li a {
        position: relative;
        top: 5vw;
        font-weight: 600;
        font-size: 18px;
    }
}