

html, body {
    height: 100%; /* Make sure these elements take full height */
    margin: 0;
    padding: 0;
    color: var(--primary-color);
/*     scrollbar-width: thin;
    scrollbar-color:  var(--secondary-color) transparent;
    scrollbar-gutter: stable;
    scrollbar-base-color: red; */
}
::-webkit-scrollbar {
  width: 6px;          /* width of vertical scrollbar */
  height: 6%;         /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background:  transparent;  /* track color */
  border-radius: 2px;
  box-shadow: inset 0 0 0 12px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);  /* track color */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #69F0AE;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent; /* thumb color | track color */
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2vh;
    margin: 0;
  }
}

@media screen and (min-width: 769px) {
  .container {
    padding: 0 10vh;
  }
}
.container {
  max-width: 1500px; 
  margin: 0 auto;   
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.backgroundFrame {
  width: 90vw;
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  overflow: hidden;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.58);
}

.glassyFrame {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 12px;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.58);
}

@media (max-width: 768px) {
  .backgroundFrame {
    width: 92vw;
    height: 92vh;
    overflow-y: scroll;    
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
  }
}
.backgroundFrame .container {
  height: 100%;
  padding: 0vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}
